-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Check Constraint Disable's for Table: [HumanResources].[Employee]
Print 'Check Constraint Disable''s for Table: [HumanResources].[Employee]'
ALTER TABLE [HumanResources].[Employee] NOCHECK CONSTRAINT [CK_Employee_BirthDate]
ALTER TABLE [HumanResources].[Employee] NOCHECK CONSTRAINT [CK_Employee_MaritalStatus]
ALTER TABLE [HumanResources].[Employee] NOCHECK CONSTRAINT [CK_Employee_HireDate]
ALTER TABLE [HumanResources].[Employee] NOCHECK CONSTRAINT [CK_Employee_Gender]
ALTER TABLE [HumanResources].[Employee] NOCHECK CONSTRAINT [CK_Employee_VacationHours]
ALTER TABLE [HumanResources].[Employee] NOCHECK CONSTRAINT [CK_Employee_SickLeaveHours]

-- Foreign Key Constraint Disable's for Table: [HumanResources].[Employee]
Print 'Foreign Key Constraint Disable''s for Table: [HumanResources].[Employee]'
ALTER TABLE [HumanResources].[Employee] NOCHECK CONSTRAINT [FK_Employee_Person_BusinessEntityID]

-- Trigger Disable's for Table: [HumanResources].[Employee]
Print 'Trigger Disable''s for Table: [HumanResources].[Employee]'
ALTER TABLE [HumanResources].[Employee] DISABLE TRIGGER [dEmployee]


-- Insert scripts for table: Employee
PRINT 'Inserting rows into table: Employee'
-- Warning - Computed columns cannot be listed in INSERT statements
INSERT INTO [HumanResources].[Employee] ([BusinessEntityID], [NationalIDNumber], [LoginID], [OrganizationNode], [JobTitle], [BirthDate], [MaritalStatus], [Gender], [HireDate], [SalariedFlag], [VacationHours], [SickLeaveHours], [CurrentFlag], [rowguid], [ModifiedDate]) VALUES (1, N'295847284', N'adventure-works\ken0', NULL, N'Chief Executive Officer', '1969-01-29', N'S', N'M', '2009-01-14', 1, 99, 69, 1, 'f01251e5-96a3-448d-981e-0f99d789110d', '20140630 00:00:00.000')
INSERT INTO [HumanResources].[Employee] ([BusinessEntityID], [NationalIDNumber], [LoginID], [OrganizationNode], [JobTitle], [BirthDate], [MaritalStatus], [Gender], [HireDate], [SalariedFlag], [VacationHours], [SickLeaveHours], [CurrentFlag], [rowguid], [ModifiedDate]) VALUES (2, N'245797967', N'adventure-works\terri0', '/1/', N'Vice President of Engineering', '1971-08-01', N'S', N'F', '2008-01-31', 1, 1, 20, 1, '45e8f437-670d-4409-93cb-f9424a40d6ee', '20140630 00:00:00.000')
INSERT INTO [HumanResources].[Employee] ([BusinessEntityID], [NationalIDNumber], [LoginID], [OrganizationNode], [JobTitle], [BirthDate], [MaritalStatus], [Gender], [HireDate], [SalariedFlag], [VacationHours], [SickLeaveHours], [CurrentFlag], [rowguid], [ModifiedDate]) VALUES (3, N'509647174', N'adventure-works\roberto0', '/1/1/', N'Engineering Manager', '1974-11-12', N'M', N'M', '2007-11-11', 1, 2, 21, 1, '9bbbfb2c-efbb-4217-9ab7-f97689328841', '20140630 00:00:00.000')
GO


-- Trigger Enable's for Table: [HumanResources].[Employee]
Print 'Trigger Enable''s for Table: [HumanResources].[Employee]'
ALTER TABLE [HumanResources].[Employee] ENABLE TRIGGER [dEmployee]

-- Foreign Key Constraint Enable's for Table: [HumanResources].[Employee]
Print 'Foreign Key Constraint Enable''s for Table: [HumanResources].[Employee]'
ALTER TABLE [HumanResources].[Employee] CHECK CONSTRAINT [FK_Employee_Person_BusinessEntityID]

-- Check Constraint Enable's for Table: [HumanResources].[Employee]
Print 'Check Constraint Enable''s for Table: [HumanResources].[Employee]'
ALTER TABLE [HumanResources].[Employee] CHECK CONSTRAINT [CK_Employee_BirthDate]
ALTER TABLE [HumanResources].[Employee] CHECK CONSTRAINT [CK_Employee_MaritalStatus]
ALTER TABLE [HumanResources].[Employee] CHECK CONSTRAINT [CK_Employee_HireDate]
ALTER TABLE [HumanResources].[Employee] CHECK CONSTRAINT [CK_Employee_Gender]
ALTER TABLE [HumanResources].[Employee] CHECK CONSTRAINT [CK_Employee_VacationHours]
ALTER TABLE [HumanResources].[Employee] CHECK CONSTRAINT [CK_Employee_SickLeaveHours]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
