-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Foreign Key Constraint Disable's for Table: [HumanResources].[JobCandidate]
Print 'Foreign Key Constraint Disable''s for Table: [HumanResources].[JobCandidate]'
ALTER TABLE [HumanResources].[JobCandidate] NOCHECK CONSTRAINT [FK_JobCandidate_Employee_BusinessEntityID]


-- Insert scripts for table: JobCandidate
PRINT 'Inserting rows into table: JobCandidate'
SET IDENTITY_INSERT [HumanResources].[JobCandidate] ON

GO

SET IDENTITY_INSERT [HumanResources].[JobCandidate] OFF


-- Foreign Key Constraint Enable's for Table: [HumanResources].[JobCandidate]
Print 'Foreign Key Constraint Enable''s for Table: [HumanResources].[JobCandidate]'
ALTER TABLE [HumanResources].[JobCandidate] CHECK CONSTRAINT [FK_JobCandidate_Employee_BusinessEntityID]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
