-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Check Constraint Disable's for Table: [HumanResources].[EmployeePayHistory]
Print 'Check Constraint Disable''s for Table: [HumanResources].[EmployeePayHistory]'
ALTER TABLE [HumanResources].[EmployeePayHistory] NOCHECK CONSTRAINT [CK_EmployeePayHistory_PayFrequency]
ALTER TABLE [HumanResources].[EmployeePayHistory] NOCHECK CONSTRAINT [CK_EmployeePayHistory_Rate]

-- Foreign Key Constraint Disable's for Table: [HumanResources].[EmployeePayHistory]
Print 'Foreign Key Constraint Disable''s for Table: [HumanResources].[EmployeePayHistory]'
ALTER TABLE [HumanResources].[EmployeePayHistory] NOCHECK CONSTRAINT [FK_EmployeePayHistory_Employee_BusinessEntityID]


-- Insert scripts for table: EmployeePayHistory
PRINT 'Inserting rows into table: EmployeePayHistory'
INSERT INTO [HumanResources].[EmployeePayHistory] ([BusinessEntityID], [RateChangeDate], [Rate], [PayFrequency], [ModifiedDate]) VALUES (1, '20090114 00:00:00.000', 125.5000, 2, '20140630 00:00:00.000')
INSERT INTO [HumanResources].[EmployeePayHistory] ([BusinessEntityID], [RateChangeDate], [Rate], [PayFrequency], [ModifiedDate]) VALUES (2, '20080131 00:00:00.000', 63.4615, 2, '20140630 00:00:00.000')
INSERT INTO [HumanResources].[EmployeePayHistory] ([BusinessEntityID], [RateChangeDate], [Rate], [PayFrequency], [ModifiedDate]) VALUES (3, '20071111 00:00:00.000', 43.2692, 2, '20140630 00:00:00.000')
GO


-- Foreign Key Constraint Enable's for Table: [HumanResources].[EmployeePayHistory]
Print 'Foreign Key Constraint Enable''s for Table: [HumanResources].[EmployeePayHistory]'
ALTER TABLE [HumanResources].[EmployeePayHistory] CHECK CONSTRAINT [FK_EmployeePayHistory_Employee_BusinessEntityID]

-- Check Constraint Enable's for Table: [HumanResources].[EmployeePayHistory]
Print 'Check Constraint Enable''s for Table: [HumanResources].[EmployeePayHistory]'
ALTER TABLE [HumanResources].[EmployeePayHistory] CHECK CONSTRAINT [CK_EmployeePayHistory_PayFrequency]
ALTER TABLE [HumanResources].[EmployeePayHistory] CHECK CONSTRAINT [CK_EmployeePayHistory_Rate]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
