-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Foreign Key Constraint Disable's for Table: [Person].[StateProvince]
Print 'Foreign Key Constraint Disable''s for Table: [Person].[StateProvince]'
ALTER TABLE [Person].[StateProvince] NOCHECK CONSTRAINT [FK_StateProvince_CountryRegion_CountryRegionCode]
ALTER TABLE [Person].[StateProvince] NOCHECK CONSTRAINT [FK_StateProvince_SalesTerritory_TerritoryID]


-- Insert scripts for table: StateProvince
PRINT 'Inserting rows into table: StateProvince'
SET IDENTITY_INSERT [Person].[StateProvince] ON

INSERT INTO [Person].[StateProvince] ([StateProvinceID], [StateProvinceCode], [CountryRegionCode], [IsOnlyStateProvinceFlag], [Name], [TerritoryID], [rowguid], [ModifiedDate]) VALUES (1, N'AB ', N'CA', 0, N'Alberta', 6, '298c2880-ab1c-4982-a5ad-a36eb4ba0d34', '20140208 10:17:21.587')
INSERT INTO [Person].[StateProvince] ([StateProvinceID], [StateProvinceCode], [CountryRegionCode], [IsOnlyStateProvinceFlag], [Name], [TerritoryID], [rowguid], [ModifiedDate]) VALUES (2, N'AK ', N'US', 0, N'Alaska', 1, '5b7b8462-a888-4e0b-a3e1-7278f8af107e', '20140208 10:17:21.587')
INSERT INTO [Person].[StateProvince] ([StateProvinceID], [StateProvinceCode], [CountryRegionCode], [IsOnlyStateProvinceFlag], [Name], [TerritoryID], [rowguid], [ModifiedDate]) VALUES (3, N'AL ', N'US', 0, N'Alabama', 5, '41b328be-21ae-45d0-841d-6f8dd71ce626', '20140208 10:17:21.587')
GO

SET IDENTITY_INSERT [Person].[StateProvince] OFF


-- Foreign Key Constraint Enable's for Table: [Person].[StateProvince]
Print 'Foreign Key Constraint Enable''s for Table: [Person].[StateProvince]'
ALTER TABLE [Person].[StateProvince] CHECK CONSTRAINT [FK_StateProvince_CountryRegion_CountryRegionCode]
ALTER TABLE [Person].[StateProvince] CHECK CONSTRAINT [FK_StateProvince_SalesTerritory_TerritoryID]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
