-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Foreign Key Constraint Disable's for Table: [Person].[BusinessEntityContact]
Print 'Foreign Key Constraint Disable''s for Table: [Person].[BusinessEntityContact]'
ALTER TABLE [Person].[BusinessEntityContact] NOCHECK CONSTRAINT [FK_BusinessEntityContact_Person_PersonID]
ALTER TABLE [Person].[BusinessEntityContact] NOCHECK CONSTRAINT [FK_BusinessEntityContact_ContactType_ContactTypeID]
ALTER TABLE [Person].[BusinessEntityContact] NOCHECK CONSTRAINT [FK_BusinessEntityContact_BusinessEntity_BusinessEntityID]


-- Insert scripts for table: BusinessEntityContact
PRINT 'Inserting rows into table: BusinessEntityContact'
INSERT INTO [Person].[BusinessEntityContact] ([BusinessEntityID], [PersonID], [ContactTypeID], [rowguid], [ModifiedDate]) VALUES (292, 291, 11, '7d4d2dbc-4a44-48f5-911d-a63abafd5120', '20171213 13:21:02.243')
INSERT INTO [Person].[BusinessEntityContact] ([BusinessEntityID], [PersonID], [ContactTypeID], [rowguid], [ModifiedDate]) VALUES (294, 293, 11, '3ea25b65-9579-4260-977d-d6f00d7d20ee', '20171213 13:21:02.320')
INSERT INTO [Person].[BusinessEntityContact] ([BusinessEntityID], [PersonID], [ContactTypeID], [rowguid], [ModifiedDate]) VALUES (296, 295, 11, 'dadac1ff-3351-4827-9ae0-95004885c193', '20171213 13:21:02.383')
GO


-- Foreign Key Constraint Enable's for Table: [Person].[BusinessEntityContact]
Print 'Foreign Key Constraint Enable''s for Table: [Person].[BusinessEntityContact]'
ALTER TABLE [Person].[BusinessEntityContact] CHECK CONSTRAINT [FK_BusinessEntityContact_Person_PersonID]
ALTER TABLE [Person].[BusinessEntityContact] CHECK CONSTRAINT [FK_BusinessEntityContact_ContactType_ContactTypeID]
ALTER TABLE [Person].[BusinessEntityContact] CHECK CONSTRAINT [FK_BusinessEntityContact_BusinessEntity_BusinessEntityID]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
