-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Foreign Key Constraint Disable's for Table: [Production].[ProductProductPhoto]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[ProductProductPhoto]'
ALTER TABLE [Production].[ProductProductPhoto] NOCHECK CONSTRAINT [FK_ProductProductPhoto_Product_ProductID]
ALTER TABLE [Production].[ProductProductPhoto] NOCHECK CONSTRAINT [FK_ProductProductPhoto_ProductPhoto_ProductPhotoID]


-- Insert scripts for table: ProductProductPhoto
PRINT 'Inserting rows into table: ProductProductPhoto'
INSERT INTO [Production].[ProductProductPhoto] ([ProductID], [ProductPhotoID], [Primary], [ModifiedDate]) VALUES (1, 1, 1, '20080331 00:00:00.000')
INSERT INTO [Production].[ProductProductPhoto] ([ProductID], [ProductPhotoID], [Primary], [ModifiedDate]) VALUES (2, 1, 1, '20080331 00:00:00.000')
INSERT INTO [Production].[ProductProductPhoto] ([ProductID], [ProductPhotoID], [Primary], [ModifiedDate]) VALUES (3, 1, 1, '20080331 00:00:00.000')
GO


-- Foreign Key Constraint Enable's for Table: [Production].[ProductProductPhoto]
Print 'Foreign Key Constraint Enable''s for Table: [Production].[ProductProductPhoto]'
ALTER TABLE [Production].[ProductProductPhoto] CHECK CONSTRAINT [FK_ProductProductPhoto_Product_ProductID]
ALTER TABLE [Production].[ProductProductPhoto] CHECK CONSTRAINT [FK_ProductProductPhoto_ProductPhoto_ProductPhotoID]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
