-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Check Constraint Disable's for Table: [Production].[ProductListPriceHistory]
Print 'Check Constraint Disable''s for Table: [Production].[ProductListPriceHistory]'
ALTER TABLE [Production].[ProductListPriceHistory] NOCHECK CONSTRAINT [CK_ProductListPriceHistory_EndDate]
ALTER TABLE [Production].[ProductListPriceHistory] NOCHECK CONSTRAINT [CK_ProductListPriceHistory_ListPrice]

-- Foreign Key Constraint Disable's for Table: [Production].[ProductListPriceHistory]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[ProductListPriceHistory]'
ALTER TABLE [Production].[ProductListPriceHistory] NOCHECK CONSTRAINT [FK_ProductListPriceHistory_Product_ProductID]


-- Insert scripts for table: ProductListPriceHistory
PRINT 'Inserting rows into table: ProductListPriceHistory'
INSERT INTO [Production].[ProductListPriceHistory] ([ProductID], [StartDate], [EndDate], [ListPrice], [ModifiedDate]) VALUES (707, '20110531 00:00:00.000', '20120529 00:00:00.000', 33.6442, '20120529 00:00:00.000')
INSERT INTO [Production].[ProductListPriceHistory] ([ProductID], [StartDate], [EndDate], [ListPrice], [ModifiedDate]) VALUES (707, '20120530 00:00:00.000', '20130529 00:00:00.000', 33.6442, '20130529 00:00:00.000')
INSERT INTO [Production].[ProductListPriceHistory] ([ProductID], [StartDate], [EndDate], [ListPrice], [ModifiedDate]) VALUES (707, '20130530 00:00:00.000', NULL, 34.9900, '20130509 00:00:00.000')
GO


-- Foreign Key Constraint Enable's for Table: [Production].[ProductListPriceHistory]
Print 'Foreign Key Constraint Enable''s for Table: [Production].[ProductListPriceHistory]'
ALTER TABLE [Production].[ProductListPriceHistory] CHECK CONSTRAINT [FK_ProductListPriceHistory_Product_ProductID]

-- Check Constraint Enable's for Table: [Production].[ProductListPriceHistory]
Print 'Check Constraint Enable''s for Table: [Production].[ProductListPriceHistory]'
ALTER TABLE [Production].[ProductListPriceHistory] CHECK CONSTRAINT [CK_ProductListPriceHistory_EndDate]
ALTER TABLE [Production].[ProductListPriceHistory] CHECK CONSTRAINT [CK_ProductListPriceHistory_ListPrice]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
