-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Check Constraint Disable's for Table: [Production].[Product]
Print 'Check Constraint Disable''s for Table: [Production].[Product]'
ALTER TABLE [Production].[Product] NOCHECK CONSTRAINT [CK_Product_SafetyStockLevel]
ALTER TABLE [Production].[Product] NOCHECK CONSTRAINT [CK_Product_ReorderPoint]
ALTER TABLE [Production].[Product] NOCHECK CONSTRAINT [CK_Product_StandardCost]
ALTER TABLE [Production].[Product] NOCHECK CONSTRAINT [CK_Product_ListPrice]
ALTER TABLE [Production].[Product] NOCHECK CONSTRAINT [CK_Product_Weight]
ALTER TABLE [Production].[Product] NOCHECK CONSTRAINT [CK_Product_DaysToManufacture]
ALTER TABLE [Production].[Product] NOCHECK CONSTRAINT [CK_Product_ProductLine]
ALTER TABLE [Production].[Product] NOCHECK CONSTRAINT [CK_Product_Class]
ALTER TABLE [Production].[Product] NOCHECK CONSTRAINT [CK_Product_Style]
ALTER TABLE [Production].[Product] NOCHECK CONSTRAINT [CK_Product_SellEndDate]

-- Foreign Key Constraint Disable's for Table: [Production].[Product]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[Product]'
ALTER TABLE [Production].[Product] NOCHECK CONSTRAINT [FK_Product_UnitMeasure_SizeUnitMeasureCode]
ALTER TABLE [Production].[Product] NOCHECK CONSTRAINT [FK_Product_UnitMeasure_WeightUnitMeasureCode]
ALTER TABLE [Production].[Product] NOCHECK CONSTRAINT [FK_Product_ProductModel_ProductModelID]
ALTER TABLE [Production].[Product] NOCHECK CONSTRAINT [FK_Product_ProductSubcategory_ProductSubcategoryID]


-- Insert scripts for table: Product
PRINT 'Inserting rows into table: Product'
SET IDENTITY_INSERT [Production].[Product] ON

GO

SET IDENTITY_INSERT [Production].[Product] OFF


-- Foreign Key Constraint Enable's for Table: [Production].[Product]
Print 'Foreign Key Constraint Enable''s for Table: [Production].[Product]'
ALTER TABLE [Production].[Product] CHECK CONSTRAINT [FK_Product_UnitMeasure_SizeUnitMeasureCode]
ALTER TABLE [Production].[Product] CHECK CONSTRAINT [FK_Product_UnitMeasure_WeightUnitMeasureCode]
ALTER TABLE [Production].[Product] CHECK CONSTRAINT [FK_Product_ProductModel_ProductModelID]
ALTER TABLE [Production].[Product] CHECK CONSTRAINT [FK_Product_ProductSubcategory_ProductSubcategoryID]

-- Check Constraint Enable's for Table: [Production].[Product]
Print 'Check Constraint Enable''s for Table: [Production].[Product]'
ALTER TABLE [Production].[Product] CHECK CONSTRAINT [CK_Product_SafetyStockLevel]
ALTER TABLE [Production].[Product] CHECK CONSTRAINT [CK_Product_ReorderPoint]
ALTER TABLE [Production].[Product] CHECK CONSTRAINT [CK_Product_StandardCost]
ALTER TABLE [Production].[Product] CHECK CONSTRAINT [CK_Product_ListPrice]
ALTER TABLE [Production].[Product] CHECK CONSTRAINT [CK_Product_Weight]
ALTER TABLE [Production].[Product] CHECK CONSTRAINT [CK_Product_DaysToManufacture]
ALTER TABLE [Production].[Product] CHECK CONSTRAINT [CK_Product_ProductLine]
ALTER TABLE [Production].[Product] CHECK CONSTRAINT [CK_Product_Class]
ALTER TABLE [Production].[Product] CHECK CONSTRAINT [CK_Product_Style]
ALTER TABLE [Production].[Product] CHECK CONSTRAINT [CK_Product_SellEndDate]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
