-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Check Constraint Disable's for Table: [Production].[Document]
Print 'Check Constraint Disable''s for Table: [Production].[Document]'
ALTER TABLE [Production].[Document] NOCHECK CONSTRAINT [CK_Document_Status]

-- Foreign Key Constraint Disable's for Table: [Production].[Document]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[Document]'
ALTER TABLE [Production].[Document] NOCHECK CONSTRAINT [FK_Document_Employee_Owner]


-- Insert scripts for table: Document
PRINT 'Inserting rows into table: Document'
-- Warning - Computed columns cannot be listed in INSERT statements
INSERT INTO [Production].[Document] ([DocumentNode], [Title], [Owner], [FolderFlag], [FileName], [FileExtension], [Revision], [ChangeNumber], [Status], [DocumentSummary], [Document], [rowguid], [ModifiedDate]) VALUES ('/', N'Documents', 217, 1, N'Documents', N'', N'0    ', 0, 2, NULL, NULL, '27cf33af-c338-4842-966c-75ca11aaa6a3', '20171213 13:58:03.943')
INSERT INTO [Production].[Document] ([DocumentNode], [Title], [Owner], [FolderFlag], [FileName], [FileExtension], [Revision], [ChangeNumber], [Status], [DocumentSummary], [Document], [rowguid], [ModifiedDate]) VALUES ('/1/', N'Overview', 217, 1, N'Overview', N'', N'0    ', 0, 2, NULL, NULL, '26a266f1-1d23-40e2-af48-6ab8d954fe37', '20171213 13:58:03.977')
GO


-- Foreign Key Constraint Enable's for Table: [Production].[Document]
Print 'Foreign Key Constraint Enable''s for Table: [Production].[Document]'
ALTER TABLE [Production].[Document] CHECK CONSTRAINT [FK_Document_Employee_Owner]

-- Check Constraint Enable's for Table: [Production].[Document]
Print 'Check Constraint Enable''s for Table: [Production].[Document]'
ALTER TABLE [Production].[Document] CHECK CONSTRAINT [CK_Document_Status]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
