-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Check Constraint Disable's for Table: [Production].[BillOfMaterials]
Print 'Check Constraint Disable''s for Table: [Production].[BillOfMaterials]'
ALTER TABLE [Production].[BillOfMaterials] NOCHECK CONSTRAINT [CK_BillOfMaterials_EndDate]
ALTER TABLE [Production].[BillOfMaterials] NOCHECK CONSTRAINT [CK_BillOfMaterials_ProductAssemblyID]
ALTER TABLE [Production].[BillOfMaterials] NOCHECK CONSTRAINT [CK_BillOfMaterials_BOMLevel]
ALTER TABLE [Production].[BillOfMaterials] NOCHECK CONSTRAINT [CK_BillOfMaterials_PerAssemblyQty]

-- Foreign Key Constraint Disable's for Table: [Production].[BillOfMaterials]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[BillOfMaterials]'
ALTER TABLE [Production].[BillOfMaterials] NOCHECK CONSTRAINT [FK_BillOfMaterials_Product_ProductAssemblyID]
ALTER TABLE [Production].[BillOfMaterials] NOCHECK CONSTRAINT [FK_BillOfMaterials_Product_ComponentID]
ALTER TABLE [Production].[BillOfMaterials] NOCHECK CONSTRAINT [FK_BillOfMaterials_UnitMeasure_UnitMeasureCode]


-- Insert scripts for table: BillOfMaterials
PRINT 'Inserting rows into table: BillOfMaterials'
SET IDENTITY_INSERT [Production].[BillOfMaterials] ON

INSERT INTO [Production].[BillOfMaterials] ([BillOfMaterialsID], [ProductAssemblyID], [ComponentID], [StartDate], [EndDate], [UnitMeasureCode], [BOMLevel], [PerAssemblyQty], [ModifiedDate]) VALUES (893, NULL, 749, '20100526 00:00:00.000', NULL, N'EA ', 0, 1.00, '20100512 00:00:00.000')
INSERT INTO [Production].[BillOfMaterials] ([BillOfMaterialsID], [ProductAssemblyID], [ComponentID], [StartDate], [EndDate], [UnitMeasureCode], [BOMLevel], [PerAssemblyQty], [ModifiedDate]) VALUES (271, NULL, 750, '20100304 00:00:00.000', '20100503 00:00:00.000', N'EA ', 0, 1.00, '20100503 00:00:00.000')
INSERT INTO [Production].[BillOfMaterials] ([BillOfMaterialsID], [ProductAssemblyID], [ComponentID], [StartDate], [EndDate], [UnitMeasureCode], [BOMLevel], [PerAssemblyQty], [ModifiedDate]) VALUES (34, NULL, 750, '20100504 00:00:00.000', NULL, N'EA ', 0, 1.00, '20100420 00:00:00.000')
GO

SET IDENTITY_INSERT [Production].[BillOfMaterials] OFF


-- Foreign Key Constraint Enable's for Table: [Production].[BillOfMaterials]
Print 'Foreign Key Constraint Enable''s for Table: [Production].[BillOfMaterials]'
ALTER TABLE [Production].[BillOfMaterials] CHECK CONSTRAINT [FK_BillOfMaterials_Product_ProductAssemblyID]
ALTER TABLE [Production].[BillOfMaterials] CHECK CONSTRAINT [FK_BillOfMaterials_Product_ComponentID]
ALTER TABLE [Production].[BillOfMaterials] CHECK CONSTRAINT [FK_BillOfMaterials_UnitMeasure_UnitMeasureCode]

-- Check Constraint Enable's for Table: [Production].[BillOfMaterials]
Print 'Check Constraint Enable''s for Table: [Production].[BillOfMaterials]'
ALTER TABLE [Production].[BillOfMaterials] CHECK CONSTRAINT [CK_BillOfMaterials_EndDate]
ALTER TABLE [Production].[BillOfMaterials] CHECK CONSTRAINT [CK_BillOfMaterials_ProductAssemblyID]
ALTER TABLE [Production].[BillOfMaterials] CHECK CONSTRAINT [CK_BillOfMaterials_BOMLevel]
ALTER TABLE [Production].[BillOfMaterials] CHECK CONSTRAINT [CK_BillOfMaterials_PerAssemblyQty]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
