-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Check Constraint Disable's for Table: [Production].[ProductCostHistory]
Print 'Check Constraint Disable''s for Table: [Production].[ProductCostHistory]'
ALTER TABLE [Production].[ProductCostHistory] NOCHECK CONSTRAINT [CK_ProductCostHistory_EndDate]
ALTER TABLE [Production].[ProductCostHistory] NOCHECK CONSTRAINT [CK_ProductCostHistory_StandardCost]

-- Foreign Key Constraint Disable's for Table: [Production].[ProductCostHistory]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[ProductCostHistory]'
ALTER TABLE [Production].[ProductCostHistory] NOCHECK CONSTRAINT [FK_ProductCostHistory_Product_ProductID]


-- Insert scripts for table: ProductCostHistory
PRINT 'Inserting rows into table: ProductCostHistory'
INSERT INTO [Production].[ProductCostHistory] ([ProductID], [StartDate], [EndDate], [StandardCost], [ModifiedDate]) VALUES (707, '20110531 00:00:00.000', '20120529 00:00:00.000', 12.0278, '20120529 00:00:00.000')
INSERT INTO [Production].[ProductCostHistory] ([ProductID], [StartDate], [EndDate], [StandardCost], [ModifiedDate]) VALUES (707, '20120530 00:00:00.000', '20130529 00:00:00.000', 13.8782, '20130529 00:00:00.000')
INSERT INTO [Production].[ProductCostHistory] ([ProductID], [StartDate], [EndDate], [StandardCost], [ModifiedDate]) VALUES (707, '20130530 00:00:00.000', NULL, 13.0863, '20130516 00:00:00.000')
GO


-- Foreign Key Constraint Enable's for Table: [Production].[ProductCostHistory]
Print 'Foreign Key Constraint Enable''s for Table: [Production].[ProductCostHistory]'
ALTER TABLE [Production].[ProductCostHistory] CHECK CONSTRAINT [FK_ProductCostHistory_Product_ProductID]

-- Check Constraint Enable's for Table: [Production].[ProductCostHistory]
Print 'Check Constraint Enable''s for Table: [Production].[ProductCostHistory]'
ALTER TABLE [Production].[ProductCostHistory] CHECK CONSTRAINT [CK_ProductCostHistory_EndDate]
ALTER TABLE [Production].[ProductCostHistory] CHECK CONSTRAINT [CK_ProductCostHistory_StandardCost]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
