-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Check Constraint Disable's for Table: [Production].[ProductInventory]
Print 'Check Constraint Disable''s for Table: [Production].[ProductInventory]'
ALTER TABLE [Production].[ProductInventory] NOCHECK CONSTRAINT [CK_ProductInventory_Shelf]
ALTER TABLE [Production].[ProductInventory] NOCHECK CONSTRAINT [CK_ProductInventory_Bin]

-- Foreign Key Constraint Disable's for Table: [Production].[ProductInventory]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[ProductInventory]'
ALTER TABLE [Production].[ProductInventory] NOCHECK CONSTRAINT [FK_ProductInventory_Location_LocationID]
ALTER TABLE [Production].[ProductInventory] NOCHECK CONSTRAINT [FK_ProductInventory_Product_ProductID]


-- Insert scripts for table: ProductInventory
PRINT 'Inserting rows into table: ProductInventory'
INSERT INTO [Production].[ProductInventory] ([ProductID], [LocationID], [Shelf], [Bin], [Quantity], [rowguid], [ModifiedDate]) VALUES (1, 1, N'A', 1, 408, '47a24246-6c43-48eb-968f-025738a8a410', '20140808 00:00:00.000')
INSERT INTO [Production].[ProductInventory] ([ProductID], [LocationID], [Shelf], [Bin], [Quantity], [rowguid], [ModifiedDate]) VALUES (1, 6, N'B', 5, 324, 'd4544d7d-caf5-46b3-ab22-5718dcc26b5e', '20140808 00:00:00.000')
INSERT INTO [Production].[ProductInventory] ([ProductID], [LocationID], [Shelf], [Bin], [Quantity], [rowguid], [ModifiedDate]) VALUES (1, 50, N'A', 5, 353, 'bff7dc60-96a8-43ca-81a7-d6d2ed3000a8', '20140808 00:00:00.000')
GO


-- Foreign Key Constraint Enable's for Table: [Production].[ProductInventory]
Print 'Foreign Key Constraint Enable''s for Table: [Production].[ProductInventory]'
ALTER TABLE [Production].[ProductInventory] CHECK CONSTRAINT [FK_ProductInventory_Location_LocationID]
ALTER TABLE [Production].[ProductInventory] CHECK CONSTRAINT [FK_ProductInventory_Product_ProductID]

-- Check Constraint Enable's for Table: [Production].[ProductInventory]
Print 'Check Constraint Enable''s for Table: [Production].[ProductInventory]'
ALTER TABLE [Production].[ProductInventory] CHECK CONSTRAINT [CK_ProductInventory_Shelf]
ALTER TABLE [Production].[ProductInventory] CHECK CONSTRAINT [CK_ProductInventory_Bin]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
