-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Foreign Key Constraint Disable's for Table: [Production].[ProductModelProductDescriptionCulture]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[ProductModelProductDescriptionCulture]'
ALTER TABLE [Production].[ProductModelProductDescriptionCulture] NOCHECK CONSTRAINT [FK_ProductModelProductDescriptionCulture_ProductDescription_ProductDescriptionID]
ALTER TABLE [Production].[ProductModelProductDescriptionCulture] NOCHECK CONSTRAINT [FK_ProductModelProductDescriptionCulture_Culture_CultureID]
ALTER TABLE [Production].[ProductModelProductDescriptionCulture] NOCHECK CONSTRAINT [FK_ProductModelProductDescriptionCulture_ProductModel_ProductModelID]


-- Insert scripts for table: ProductModelProductDescriptionCulture
PRINT 'Inserting rows into table: ProductModelProductDescriptionCulture'
INSERT INTO [Production].[ProductModelProductDescriptionCulture] ([ProductModelID], [ProductDescriptionID], [CultureID], [ModifiedDate]) VALUES (1, 1199, N'en    ', '20130430 00:00:00.000')
INSERT INTO [Production].[ProductModelProductDescriptionCulture] ([ProductModelID], [ProductDescriptionID], [CultureID], [ModifiedDate]) VALUES (1, 1467, N'ar    ', '20130430 00:00:00.000')
INSERT INTO [Production].[ProductModelProductDescriptionCulture] ([ProductModelID], [ProductDescriptionID], [CultureID], [ModifiedDate]) VALUES (1, 1589, N'fr    ', '20130430 00:00:00.000')
GO


-- Foreign Key Constraint Enable's for Table: [Production].[ProductModelProductDescriptionCulture]
Print 'Foreign Key Constraint Enable''s for Table: [Production].[ProductModelProductDescriptionCulture]'
ALTER TABLE [Production].[ProductModelProductDescriptionCulture] CHECK CONSTRAINT [FK_ProductModelProductDescriptionCulture_ProductDescription_ProductDescriptionID]
ALTER TABLE [Production].[ProductModelProductDescriptionCulture] CHECK CONSTRAINT [FK_ProductModelProductDescriptionCulture_Culture_CultureID]
ALTER TABLE [Production].[ProductModelProductDescriptionCulture] CHECK CONSTRAINT [FK_ProductModelProductDescriptionCulture_ProductModel_ProductModelID]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
