-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Foreign Key Constraint Disable's for Table: [Production].[ProductSubcategory]
Print 'Foreign Key Constraint Disable''s for Table: [Production].[ProductSubcategory]'
ALTER TABLE [Production].[ProductSubcategory] NOCHECK CONSTRAINT [FK_ProductSubcategory_ProductCategory_ProductCategoryID]


-- Insert scripts for table: ProductSubcategory
PRINT 'Inserting rows into table: ProductSubcategory'
SET IDENTITY_INSERT [Production].[ProductSubcategory] ON

INSERT INTO [Production].[ProductSubcategory] ([ProductSubcategoryID], [ProductCategoryID], [Name], [rowguid], [ModifiedDate]) VALUES (1, 1, N'Mountain Bikes', '2d364ade-264a-433c-b092-4fcbf3804e01', '20080430 00:00:00.000')
INSERT INTO [Production].[ProductSubcategory] ([ProductSubcategoryID], [ProductCategoryID], [Name], [rowguid], [ModifiedDate]) VALUES (2, 1, N'Road Bikes', '000310c0-bcc8-42c4-b0c3-45ae611af06b', '20080430 00:00:00.000')
INSERT INTO [Production].[ProductSubcategory] ([ProductSubcategoryID], [ProductCategoryID], [Name], [rowguid], [ModifiedDate]) VALUES (3, 1, N'Touring Bikes', '02c5061d-ecdc-4274-b5f1-e91d76bc3f37', '20080430 00:00:00.000')
GO

SET IDENTITY_INSERT [Production].[ProductSubcategory] OFF


-- Foreign Key Constraint Enable's for Table: [Production].[ProductSubcategory]
Print 'Foreign Key Constraint Enable''s for Table: [Production].[ProductSubcategory]'
ALTER TABLE [Production].[ProductSubcategory] CHECK CONSTRAINT [FK_ProductSubcategory_ProductCategory_ProductCategoryID]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
