-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Check Constraint Disable's for Table: [Purchasing].[Vendor]
Print 'Check Constraint Disable''s for Table: [Purchasing].[Vendor]'
ALTER TABLE [Purchasing].[Vendor] NOCHECK CONSTRAINT [CK_Vendor_CreditRating]

-- Foreign Key Constraint Disable's for Table: [Purchasing].[Vendor]
Print 'Foreign Key Constraint Disable''s for Table: [Purchasing].[Vendor]'
ALTER TABLE [Purchasing].[Vendor] NOCHECK CONSTRAINT [FK_Vendor_BusinessEntity_BusinessEntityID]

-- Trigger Disable's for Table: [Purchasing].[Vendor]
Print 'Trigger Disable''s for Table: [Purchasing].[Vendor]'
ALTER TABLE [Purchasing].[Vendor] DISABLE TRIGGER [dVendor]


-- Insert scripts for table: Vendor
PRINT 'Inserting rows into table: Vendor'
INSERT INTO [Purchasing].[Vendor] ([BusinessEntityID], [AccountNumber], [Name], [CreditRating], [PreferredVendorStatus], [ActiveFlag], [PurchasingWebServiceURL], [ModifiedDate]) VALUES (1492, N'AUSTRALI0001', N'Australia Bike Retailer', 1, 1, 1, NULL, '20111223 00:00:00.000')
INSERT INTO [Purchasing].[Vendor] ([BusinessEntityID], [AccountNumber], [Name], [CreditRating], [PreferredVendorStatus], [ActiveFlag], [PurchasingWebServiceURL], [ModifiedDate]) VALUES (1494, N'ALLENSON0001', N'Allenson Cycles', 2, 1, 1, NULL, '20110425 00:00:00.000')
INSERT INTO [Purchasing].[Vendor] ([BusinessEntityID], [AccountNumber], [Name], [CreditRating], [PreferredVendorStatus], [ActiveFlag], [PurchasingWebServiceURL], [ModifiedDate]) VALUES (1496, N'ADVANCED0001', N'Advanced Bicycles', 1, 1, 1, NULL, '20110425 00:00:00.000')
GO


-- Trigger Enable's for Table: [Purchasing].[Vendor]
Print 'Trigger Enable''s for Table: [Purchasing].[Vendor]'
ALTER TABLE [Purchasing].[Vendor] ENABLE TRIGGER [dVendor]

-- Foreign Key Constraint Enable's for Table: [Purchasing].[Vendor]
Print 'Foreign Key Constraint Enable''s for Table: [Purchasing].[Vendor]'
ALTER TABLE [Purchasing].[Vendor] CHECK CONSTRAINT [FK_Vendor_BusinessEntity_BusinessEntityID]

-- Check Constraint Enable's for Table: [Purchasing].[Vendor]
Print 'Check Constraint Enable''s for Table: [Purchasing].[Vendor]'
ALTER TABLE [Purchasing].[Vendor] CHECK CONSTRAINT [CK_Vendor_CreditRating]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
