-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Foreign Key Constraint Disable's for Table: [Sales].[SpecialOfferProduct]
Print 'Foreign Key Constraint Disable''s for Table: [Sales].[SpecialOfferProduct]'
ALTER TABLE [Sales].[SpecialOfferProduct] NOCHECK CONSTRAINT [FK_SpecialOfferProduct_Product_ProductID]
ALTER TABLE [Sales].[SpecialOfferProduct] NOCHECK CONSTRAINT [FK_SpecialOfferProduct_SpecialOffer_SpecialOfferID]


-- Insert scripts for table: SpecialOfferProduct
PRINT 'Inserting rows into table: SpecialOfferProduct'
INSERT INTO [Sales].[SpecialOfferProduct] ([SpecialOfferID], [ProductID], [rowguid], [ModifiedDate]) VALUES (1, 680, 'bb30b868-d86c-4557-8db2-4b2d0a83a0fb', '20110401 00:00:00.000')
INSERT INTO [Sales].[SpecialOfferProduct] ([SpecialOfferID], [ProductID], [rowguid], [ModifiedDate]) VALUES (1, 706, 'b3c9a4b1-2ae6-4cba-b552-1f206c9f4c1f', '20110401 00:00:00.000')
INSERT INTO [Sales].[SpecialOfferProduct] ([SpecialOfferID], [ProductID], [rowguid], [ModifiedDate]) VALUES (1, 707, '27b711fe-0b77-4ea4-ad1a-7c239956bef4', '20110401 00:00:00.000')
GO


-- Foreign Key Constraint Enable's for Table: [Sales].[SpecialOfferProduct]
Print 'Foreign Key Constraint Enable''s for Table: [Sales].[SpecialOfferProduct]'
ALTER TABLE [Sales].[SpecialOfferProduct] CHECK CONSTRAINT [FK_SpecialOfferProduct_Product_ProductID]
ALTER TABLE [Sales].[SpecialOfferProduct] CHECK CONSTRAINT [FK_SpecialOfferProduct_SpecialOffer_SpecialOfferID]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
