-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO
SET NOEXEC OFF
SET ANSI_WARNINGS ON
SET XACT_ABORT ON
SET IMPLICIT_TRANSACTIONS OFF
SET ARITHABORT ON
SET NOCOUNT ON
SET QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
GO

-- Check Constraint Disable's for Table: [Sales].[SalesPersonQuotaHistory]
Print 'Check Constraint Disable''s for Table: [Sales].[SalesPersonQuotaHistory]'
ALTER TABLE [Sales].[SalesPersonQuotaHistory] NOCHECK CONSTRAINT [CK_SalesPersonQuotaHistory_SalesQuota]

-- Foreign Key Constraint Disable's for Table: [Sales].[SalesPersonQuotaHistory]
Print 'Foreign Key Constraint Disable''s for Table: [Sales].[SalesPersonQuotaHistory]'
ALTER TABLE [Sales].[SalesPersonQuotaHistory] NOCHECK CONSTRAINT [FK_SalesPersonQuotaHistory_SalesPerson_BusinessEntityID]


-- Insert scripts for table: SalesPersonQuotaHistory
PRINT 'Inserting rows into table: SalesPersonQuotaHistory'
INSERT INTO [Sales].[SalesPersonQuotaHistory] ([BusinessEntityID], [QuotaDate], [SalesQuota], [rowguid], [ModifiedDate]) VALUES (274, '20110531 00:00:00.000', 28000.0000, '99109bbf-8693-4587-bc23-6036ec89e1be', '20110416 00:00:00.000')
INSERT INTO [Sales].[SalesPersonQuotaHistory] ([BusinessEntityID], [QuotaDate], [SalesQuota], [rowguid], [ModifiedDate]) VALUES (274, '20110831 00:00:00.000', 7000.0000, 'dfd01444-8900-461c-8d6f-04598dae01d4', '20110717 00:00:00.000')
INSERT INTO [Sales].[SalesPersonQuotaHistory] ([BusinessEntityID], [QuotaDate], [SalesQuota], [rowguid], [ModifiedDate]) VALUES (274, '20111201 00:00:00.000', 91000.0000, '0a69f453-9689-4ccf-a08c-c644670f5668', '20111017 00:00:00.000')
GO


-- Foreign Key Constraint Enable's for Table: [Sales].[SalesPersonQuotaHistory]
Print 'Foreign Key Constraint Enable''s for Table: [Sales].[SalesPersonQuotaHistory]'
ALTER TABLE [Sales].[SalesPersonQuotaHistory] CHECK CONSTRAINT [FK_SalesPersonQuotaHistory_SalesPerson_BusinessEntityID]

-- Check Constraint Enable's for Table: [Sales].[SalesPersonQuotaHistory]
Print 'Check Constraint Enable''s for Table: [Sales].[SalesPersonQuotaHistory]'
ALTER TABLE [Sales].[SalesPersonQuotaHistory] CHECK CONSTRAINT [CK_SalesPersonQuotaHistory_SalesQuota]


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF
GO

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO
